

@media only screen and (max-width: 375px) {
	.header{
	  width: 100%;
	  height: 55%;
	}
	.header_text{
		font-size: 6vh;
	}
	.logo{
		top:55%;
		width: 30%;
	    height: 30%;
	}
	.button {
		font-size:.8rem !important;
		width:8rem !important;
		padding:1.0rem 1.2rem !important;
		top:48% !important;
		left:28% !important;
		}

} 

@media only screen and (max-width:375px) {
	.triangle-topleft {
		position: absolute;
		top:4%;
		left:1%;
		width: 75%;
		height: 0;
		border-top: 50px solid #305F72;
		border-right: 50px solid transparent;
	}
	.triangle-bottomright {
		position: absolute;
		bottom: 25%;
		right: 1%;
	   width: 75%;
	   height: 0;
	   border-bottom: 50px solid #305F72;
	   border-left: 50px solid transparent;
   }
   .video{
	 position:absolute;
	 bottom: 10%;
	 padding-top:2%;
	 -webkit-clip-path: circle(50% at 50% 50%);
     clip-path: circle(30% at 50% 50%);
   }
   .video_content_header{
	   top: 40%;
	   font-size: 15px;
   }
   .video_content{
	   width: 90%;
	   right:5%;
	   bottom:-10%;
	   font-size: 15px;
   }

   .video_content p{
	bottom: -12%;
	color:white;
}

@media only screen and (max-width:375px) {
	.block_3{
		position:relative;
		display: flex;
        flex-flow: column;
		margin: auto;
		margin-bottom:10%;
		height:100%;
		width:100%;
	}
	.card-side{
		height: 500px;
		width:100%;
		font-size: 12px;
		color: white;
		backface-visibility: hidden;
		box-shadow: 0 1.5rem 4rem rgba(0,0,0,.15);
	}
	.card_pic_1{
		width:100%;
	}
	.card_pic_2{
		width:100%;
	}
	.card_pic_3{
		width:100%;
	}
	.card_1 {
        position: relative;   
        height: 500px;
        width:100%;
        bottom:10%;
        left:8%;
		perspective: 150rem;
		-moz-perspective: 150rem;
		margin-bottom: 60px;
	
	}
	
	.card_2{
		height: 500px;
        position: relative;
        top:40%;
        left:8%;
        perspective: 150rem;
		-moz-perspective: 150rem;
		margin-bottom: 60px;
		
	}
	
	.card_3{
		height: 500px;
        position: relative;
        top:90%;
        left:8%;
		perspective: 150rem;
		-moz-perspective: 150rem;
		margin-bottom: 60px;
		
	}
	
	.card-side{
		height: 500px;
		width:300px;
		font-size: 15px;
		color: white;
		backface-visibility: hidden;
		box-shadow: 0 1.5rem 4rem rgba(0,0,0,.15);
	}
	
}

@media only screen and (max-width:375px) {
	
	.block_4{
        position: relative;
        top:150%;
		margin-top:10%;
		width: 100%;
		height: 100%;
		background-color: #f4ba70;
			
	} 
	.payment_info_text{
		position: absolute;
		width: 50%;
		height: 100%;
		top: 5%;
		left:5%;
		transform: translate(-5%,-5%);
		background-color: #305f72;
		text-align: center;
		font-size: 1rem;
		color: white;
		font-family: 'Lobster' cursive;
	}

	.box{
		top: 75%;
		left:15%;
	}

	.image_1{
		display: none;
	}

	.image_2{
		display: none;
	}
	.image_3{
		display:none;
	}
	
     .image_4{
		position: absolute;
		background-image: url(mountain.jpg);
		background-size: 150px;
		top:25%;
		right:2%;
		width: 150px;
		height:200px ;
        z-index:3;
    } 
    
    .image_4{
    transition: .5s ease;
    }
    
    .image_4:hover{
     border: 10px solid #fff; 
     overflow: hidden; 
     -webkit-box-shadow: 5px 5px 5px #111; 
     box-shadow: 5px 5px 5px #111;  
    transition: .5s ease;
    }  
  
}

@media only screen and (max-width:375px) {
	.block_5{
        position: relative;
        margin-top:15%;
        top:150%;
        width: 100%;
        height:60%;
        background-color: #305F72;
        margin: auto;
        text-align:center;
        font-size: 1rem;
        text-transform: capitalize;
        font-family: 'Lobster', cursive;
        -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
        clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
	}

	.review_1_pic{
		display: none;
	}
	.review_2_pic{
		display: none;
	}
	.review_box_1{
		top:15%;
		height:34%;
	}

	.review_box_2{
		bottom:15%;
		height:35%;
		margin-bottom:1%;
	}
}

@media only screen and (max-width:600px){
	.navigation_button{
		background-color: white;
		height: 4rem;
		width: 4rem;
		top: 1rem;
		right:1rem;
	}
	.navigation_background{
		height: 4rem;
		width:4rem;
		top:1rem;
		right:1rem;
	}
	.navigation_icon{
		position: relative;
		margin-top: 2rem;
    }
    .navigation_link, .navigation_link:link, .navigation_link:visited{
        display: inline-block;
        font-size: 1.2rem;
        font-weight: 300;
        padding: 1rem .5rem;
        color: black;
        text-decoration: none;
        text-transform: uppercase;
        background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
        background-size: 240%;
        transition: all .4s;
    }
	.navigation_icon, .navigation_icon:before, .navigation_icon:after{
		width:2.5rem;
		height:2px;
	}


}

@media only screen and (max-width: 414px) {
	.header{
	  width: 100%;
	  height: 65%;
	}
	.header_text{
		font-size: 6vh;
	}
	.logo{
		width: 50%;
	    height: 30%;
	}
	.button {
		font-size:.8rem !important;
		width:10rem !important;
		padding:1.0rem 1.2rem !important;
		top:40% !important;
		left:15% !important;
		}

} 

@media only screen and (max-width:414px) {
	.triangle-topleft {
		position: absolute;
		top:4%;
		left:1%;
		width: 75%;
		height: 0;
		border-top: 50px solid #305F72;
		border-right: 50px solid transparent;
	}
	.triangle-bottomright {
		position: absolute;
		bottom: 25%;
		right: 1%;
	   width: 75%;
	   height: 0;
	   border-bottom: 50px solid #305F72;
	   border-left: 50px solid transparent;
   }
   .video{
	 position:absolute;
	 bottom: 10%;
	 padding-top:2%;
	 -webkit-clip-path: circle(50% at 50% 50%);
     clip-path: circle(30% at 50% 50%);
   }
   .video_content_header{
	   top: 40%;
	   font-size: 15px;
   }
   .video_content{
	   width: 90%;
	   right:5%;
	   bottom:-10%;
	   font-size: 15px;
   }

   .video_content p{
	bottom: -12%;
	color:white;
}

@media only screen and (max-width:414px) {
	.block_3{
		position:relative;
		display: flex;
        flex-flow: column;
		margin: auto;
		margin-bottom:10%;
		height:100%;
		width:100%;
	}
	.card-side{
		height: 500px;
		width:100%;
		font-size: 12px;
		color: white;
		backface-visibility: hidden;
		box-shadow: 0 1.5rem 4rem rgba(0,0,0,.15);
	}
	.card_pic_1{
		width:100%;
	}
	.card_pic_2{
		width:100%;
	}
	.card_pic_3{
		width:100%;
	}
	.card_1 {
        position: relative;   
        height: 500px;
        width:100%;
        bottom:10%;
        left:8%;
		perspective: 150rem;
		-moz-perspective: 150rem;
		margin-bottom: 60px;
	
	}
	
	.card_2{
		height: 500px;
        position: relative;
        top:40%;
        left:8%;
        perspective: 150rem;
		-moz-perspective: 150rem;
		margin-bottom: 60px;
		
	}
	
	.card_3{
		height: 500px;
        position: relative;
        top:90%;
        left:8%;
		perspective: 150rem;
		-moz-perspective: 150rem;
		margin-bottom: 60px;
		
	}
	
	.card-side{
		height: 500px;
		width:300px;
		font-size: 15px;
		color: white;
		backface-visibility: hidden;
		box-shadow: 0 1.5rem 4rem rgba(0,0,0,.15);
	}
	
}

@media only screen and (max-width:414px) {
	
	.block_4{
        position: relative;
        top:150%;
		margin-top:10%;
		width: 100%;
		height: 100%;
		background-color: #f4ba70;
			
	} 
	.payment_info_text{
		position: absolute;
		width: 50%;
		height: 100%;
		top: 5%;
		left:5%;
		transform: translate(-5%,-5%);
		background-color: #305f72;
		text-align: center;
		font-size: 1rem;
		color: white;
		font-family: 'Lobster' cursive;
	}

	.box{
		top: 75%;
		left:15%;
	}

	.image_1{
		display: none;
	}

	.image_2{
		display: none;
	}
	.image_3{
		display:none;
	}
	
     .image_4{
		position: absolute;
		background-image: url(mountain.jpg);
		background-size: 150px;
		top:25%;
		right:2%;
		width: 150px;
		height:200px ;
        z-index:3;
    } 
    
    .image_4{
    transition: .5s ease;
    }
    
    .image_4:hover{
     border: 10px solid #fff; 
     overflow: hidden; 
     -webkit-box-shadow: 5px 5px 5px #111; 
     box-shadow: 5px 5px 5px #111;  
    transition: .5s ease;
    }  
  
}

@media only screen and (max-width:414px) {
	.block_5{
        position: relative;
        margin-top:15%;
        top:150%;
        width: 100%;
        height:60%;
        background-color: #305F72;
        margin: auto;
        text-align:center;
        font-size: 1rem;
        text-transform: capitalize;
        font-family: 'Lobster', cursive;
        -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
        clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
	}

	.review_1_pic{
		display: none;
	}
	.review_2_pic{
		display: none;
	}
	.review_box_1{
		top:15%;
		height:34%;
	}

	.review_box_2{
		bottom:15%;
		height:35%;
		margin-bottom:1%;
	}
}

@media only screen and (max-width:414px){
	.navigation_button{
		background-color: white;
		height: 4rem;
		width: 4rem;
		top: 1rem;
		right:1rem;
	}
	.navigation_background{
		height: 4rem;
		width:4rem;
		top:1rem;
		right:1rem;
	}
	.navigation_icon{
		position: relative;
		margin-top: 2rem;
    }
    .navigation_link, .navigation_link:link, .navigation_link:visited{
        display: inline-block;
        font-size: 1.2rem;
        font-weight: 300;
        padding: 1rem .5rem;
        color: black;
        text-decoration: none;
        text-transform: uppercase;
        background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
        background-size: 240%;
        transition: all .4s;
    }
	.navigation_icon, .navigation_icon:before, .navigation_icon:after{
		width:2.5rem;
		height:2px;
	}


}